<ion-content class="default-bg content-recovery">
  <ion-grid fixed class="ion-no-padding max-hg">
    <ion-row class="white-row">
    </ion-row>
    <ion-row class="row-recovery max-hg">
      <ion-col size="12" class="ion-text-center col-w">
        <h2>
          ¿Has olvidado la contraseña?
        </h2>
        <p>
          Nueva contraseña
        </p>
        <div class="info ion-margin-top">
          <ion-item class="transparent item-login" lines="none">
            <ion-label position="stacked" class="item-login_label">Correo electrónico</ion-label>
            <ion-input class="item-login_input" type="email"></ion-input>
          </ion-item>
          <ion-button expand="block" class="principal-btn" (click)="send()">
            Enviar
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
