
<ion-header>
  <ion-toolbar>
    <ion-title>Los Cuentos de Patty</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-card *ngFor="let item of items;" color="primary" routerLink="/visor/{{item.enlace}}" routerDirection="back">
      <ion-card-header>
        <ion-card-title>{{item.titulo}}</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        {{item.descripcion}}
      </ion-card-content>
    </ion-card>
    

  </ion-grid>
</ion-content>
