
<ion-header>
  <ion-toolbar>
    <ion-title>Los Cuentos de Patty</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-card *ngFor="let item of items; trackBy:trackItems" color="primary" routerLink="/visor" routerDirection="back">
      <ion-card-header>
        <ion-card-title>Titulo Cuento</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </ion-card-content>
    </ion-card>
    

  </ion-grid>
</ion-content>
