
<ion-header>
  <ion-toolbar>
    <ion-title>Los Cuentos de Patty</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-card color="primary" routerLink="/visor" routerDirection="back">
      <ion-card-header>
        <ion-card-title>Titulo Cuento</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </ion-card-content>
    </ion-card>
    
    <ion-card color="secondary" routerLink="/visor" routerDirection="back">
      <ion-card-header>
        <ion-card-title>Titulo Cuento</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </ion-card-content>
    </ion-card>
    
    <ion-card color="tertiary" routerLink="/visor" routerDirection="back">
      <ion-card-header>
        <ion-card-title>Titulo Cuento</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </ion-card-content>
    </ion-card>
    
    <ion-card color="success" routerLink="/visor" routerDirection="back">
      <ion-card-header>
        <ion-card-title>Titulo Cuento</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </ion-card-content>
    </ion-card>
    
    <ion-card color="warning" routerLink="/visor" routerDirection="back">
      <ion-card-header>
        <ion-card-title>Titulo Cuento</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </ion-card-content>
    </ion-card>
    
    <ion-card color="danger" routerLink="/visor" routerDirection="back">
      <ion-card-header>
        <ion-card-title>Titulo Cuento</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </ion-card-content>
    </ion-card>
    
    <ion-card color="light" routerLink="/visor" routerDirection="back">
      <ion-card-header>
        <ion-card-title>Titulo Cuento</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </ion-card-content>
    </ion-card>
    
    <ion-card color="medium" routerLink="/visor" routerDirection="back">
      <ion-card-header>
        <ion-card-title>Titulo Cuento</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </ion-card-content>
    </ion-card>
    
    <ion-card color="dark" routerLink="/visor" routerDirection="back">
      <ion-card-header>
        <ion-card-title>Titulo Cuento</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      </ion-card-content>
    </ion-card>

  </ion-grid>
</ion-content>
