<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <h1>fgdgdfgdfgdf</h1>
    <ion-row>
      
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item fill="outline" class="ion-margin-bottom">
            <ion-label color="primary" position="floating">Correo electrónico</ion-label>
            <ion-input color="primary"></ion-input>
          </ion-item>
          <ion-item fill="outline">
            <ion-label color="primary" position="floating">Contraseña</ion-label>
            <ion-input color="primary" type="password"></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
