ion-list{
    background: var(--Fondo)
}

.cab-login{
    padding-top: 4rem;
    color: var(--Letra);
}

.cab-login > h1 {
    font-size: 2rem;
    font-weight: 700;
}

.cab-login > p {
    font-size: 1.3rem;
}

.foo-login{
    padding-top: 2rem;
    color: var(--Letra);
}

ion-label{
    color: var(--Letra);
}
