<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar sesion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <div class="ion-margin-bottom ion-text-center">
      <h1>Ingresar</h1>
      <p>Inicie sesión para continuar</p>
    </div>
    
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item fill="outline" class="ion-margin-bottom">
            <ion-label color="primary" position="floating">Correo electrónico</ion-label>
            <ion-input color="primary"></ion-input>
          </ion-item>
          <ion-item fill="outline" class="ion-margin-bottom">
            <ion-label color="primary" position="floating">Contraseña</ion-label>
            <ion-input color="primary" type="password"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button expand="block" >Login</ion-button>
        <ion-button expand="block" color="success">Registarse</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <div class="ion-margin-top ion-text-center">
        <p>Derechos reservados</p>
        <p>Copyright ©. Los sueños de patty marca registrada ®.</p>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
