<ion-content>
  <ion-grid>

    <div class="ion-margin-bottom ion-text-center cab-login">
      <h1>Ingresar</h1>
      <p>Inicie sesión para continuar</p>
    </div>

    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item fill="outline" class="ion-margin-bottom">
            <ion-label color="primary" position="floating">Correo electrónico</ion-label>
            <ion-input color="primary"></ion-input>
          </ion-item>
          <ion-item fill="outline" class="ion-margin-bottom">
            <ion-label color="primary" position="floating">Contraseña</ion-label>
            <ion-input color="primary" type="password"></ion-input>
          </ion-item>
        </ion-list>
        <ion-button expand="block" routerLink="/principal" routerDirection="back" (click)="Mensaje()">Login</ion-button>
        <ion-button expand="block" routerLink="/registro" routerDirection="back" (click)="Mensaje()" color="success">Registarse</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <div class="ion-margin-top ion-text-center foo-login">
        <p>Derechos reservados</p>
        <p>Copyright ©. Los sueños de patty marca registrada ®.</p>
      </div>
    </ion-row>
  </ion-grid>
</ion-content>
