<ion-content>
  <ion-grid fixed class="max-hg">
    <ion-row class="max-hg ion-align-items-center">
      <ion-col size="12">
        <ion-item lines="none" class="transparent ion-margin-bottom">
          <ion-buttons slot="end">
            <ion-button class="close-btn" (click)="close()">
              <ion-icon slot="icon-only" name="close"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
        <div [id]="idPaypal"></div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>