.card-stories{
  background-color: var(--yellow-color);
  border-radius: 1rem;
  padding: .5rem;
  box-shadow: 0 2px 10px rgba(0,0,0,.3);
  .card-stories_img{
    aspect-ratio: 4/4;
    object-fit: cover;
    border-radius: 5px;
    overflow: hidden;
  }
  .storie-title{
    display: flex;
    align-items: center;
    justify-content: center;
    .card-stories_title{
      color: #fff;
      font-size: 1.1rem;
    }
  }
}