ion-content {
    // --background: url('../../assets/img/fondo_12.jpeg');
    --background-repeat: no-repeat;
    --background-size: cover;
}

h1{
  color: var(--btnPrimario);
  -webkit-text-stroke: .08rem var(--Letra);
  font-size: 2.8rem;
}

ion-card{
  border: solid .04rem var(--Letra);
  -webkit-box-shadow: 7px 10px 8px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 7px 10px 8px -6px rgba(0,0,0,0.75);
  box-shadow: 7px 10px 8px -6px rgba(0,0,0,0.75);
}

ion-card-header ion-card-title{
  color: var(--FondoStrong);
  font-family: StarBlast;
  font-size: 2rem;
  -webkit-text-stroke: .08rem var(--Letra);
}

ion-card-header ion-card-subtitle{
  color: var(--LetraLight);
  font-size: 0.9rem;
}