<ion-content class="default-bg">
  <app-header></app-header>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h2 class="title">Videos en ingles y español</h2>
        <ion-segment value="pizza" [(ngModel)]="lang">
          <ion-segment-button value="english">
            <ion-label>Ingles</ion-label>
          </ion-segment-button>
          <ion-segment-button value="spanish">
            <ion-label>Español</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
      <ion-col
        size="6"
        *ngFor="let item of ( lang === 'english' ? english : spanish);"
      >
        <ion-card
          color="primary"
          [routerLink]="['reproductor', item.titulo]"
          [queryParams]="{ 'lang': lang }"
          routerDirection="forward"
        >
          <ion-img [src]="videoUri + item.titulo + '.png'" alt=""></ion-img>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
