<ion-header>
  <ion-toolbar>
    <ion-title>Videos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/principal"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      
      <ion-col *ngFor="let item of items;" >
        <ion-card color="primary" routerLink="/reproductor/{{item.enlace}}/{{item.titulo}}" routerDirection="back">
          <ion-card-header>
            <ion-img src="../../assets/img/logo.png" alt=""></ion-img>
            <ion-card-title>{{item.titulo}}<ion-icon name="play-circle-outline"></ion-icon></ion-card-title>
          </ion-card-header>
          <ion-card-content>{{item.descripcion}}</ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
