ion-card{
    border: solid .04rem var(--Letra);
    -webkit-box-shadow: 7px 10px 8px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 10px 8px -6px rgba(0,0,0,0.75);
    box-shadow: 7px 10px 8px -6px rgba(0,0,0,0.75);
  }
  
ion-card-header ion-card-title{
    color: var(--FondoStrong);
    font-family: StarBlast;
    font-size: 2rem;
    -webkit-text-stroke: .08rem var(--Letra);
    text-align: center;
}

ion-card-header ion-card-subtitle, ion-card-content{
    color: var(--LetraLight);
    font-size: 0.9rem;
}

ion-icon{
    color: var(--Letra);
}

