<ion-content class="default-bg">
  <app-header></app-header>
  <ion-buttons class="ion-margin">
    <ion-button class="back-btn" (click)="back()" fill="outline">
      <ion-icon slot="start" name="arrow-back"></ion-icon>
      Retroceder
    </ion-button>
  </ion-buttons>

  <h2 class="title"> {{ titulo }} </h2>
  <app-pdf
    [url]="url | cuentos:titulo"
    [titulo]="titulo"
  ></app-pdf>
  <!-- <embed [src]="url | domSanitizer:titulo" type="application/pdf" width="100%" height="100%" /> -->
  <!-- <object [src]="url | domSanitizer:titulo" height="100%" width="100%"></object> -->
  
  <!-- <iframe 
    [src]="url | domSanitizer:id"  
    style="width:100%;height:100%" 
    scrolling="yes" 
  ></iframe> -->
</ion-content>
